node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
**/.svelte-kit
.git
*.md
LICENSE
e2e
**/coverage
**/.env*
Dockerfile
packages/**/build
.dev
.mise/data
**/tmp
**/.turbo
**/.cache
charts
Tiltfile
k3d.yaml
compose.yml
