node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
compiled
.awcache
.rpt2_cache
docs

dist
.dev

package-lock.json
pnpm-lock.yaml
yarn.lock

packages/web/.svelte-kit
packages/web/test-results
packages/web/src/locales

packages/yucca-api-client/src/fetch-client.ts
packages/yucca-api-client/openapi-specs.json
