# {{ ansible_managed }}
# Tagged VLAN {{ vlan.id }} sub-interface on {{ networkd_bond_name }}.

[NetDev]
Name={{ networkd_bond_name }}.{{ vlan.id }}
Kind=vlan
{# Always pin: an unset MTUBytes inherits the bond's (possibly jumbo) MTU on
   fresh creation; the documented contract is mtu-less VLANs run at 1500. #}
MTUBytes={{ vlan.mtu | default(1500) | int }}

[VLAN]
Id={{ vlan.id }}
