# {{ ansible_managed }}
# L3 on VLAN {{ vlan.id }} sub-interface: {{ vlan.address }} (gateway .1 on the leaf IRB).

[Match]
Name=vlan{{ vlan.id }}

[Network]
Address={{ vlan.address }}

[Link]
RequiredForOnline=no
{% for route in vlan.routes | default([]) %}

[Route]
Destination={{ route.to }}
Gateway={{ route.via }}
{% endfor %}
